RewriteEngine On

# Redirect requests with a lowercase first letter to a version with an uppercase first letter
RewriteCond %{REQUEST_URI} ^/[a-z]
RewriteRule ^([a-z])(.*)$ /${toupper:$1}$2 [R=301,L]

# Add .html extension to requests for files that exist
RewriteCond %{REQUEST_FILENAME} !-d
RewriteCond %{REQUEST_FILENAME}.html -f
RewriteRule ^(.+)$ $1.html [L]
